:root {
    --transparent: transparent;
    --black: #22292f;
    --white: white;
    --white-50: rgba(255, 255, 255, 0.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #ffeb3b;
    --info: #03a9f4;
    --primary: #4099de;
    --primary-dark: #297ec0;
    --primary-70: rgba(64, 153, 222, 0.7);
    --primary-50: rgba(64, 153, 222, 0.5);
    --primary-30: rgba(64, 153, 222, 0.3);
    --primary-10: rgba(64, 153, 222, 0.1);
    --logo: #252d37;
    --sidebar-icon: #b3c1d1;
    --20: #f6fbff;
    --30: #f4f7fa;
    --40: #eef1f4;
    --50: #e3e7eb;
    --60: #bacad6;
    --70: #b3b9bf;
    --80: #7c858e;
    --90: #3c4b5f;
    --90-half: rgba(40, 54, 61, 0.5);
    --warning-light: #fefcbf;
    --warning-dark: #b7791f;
    --success-light: #c6f6d5;
    --success-dark: #38a169;
    --danger-light: #fed7d7;
    --danger-dark: #e53e3e;
    --info-light: #bee3f8;
    --info-dark: #3182ce;
}

.chartist-tooltip {
    min-width: 0 !important;
    white-space: nowrap;
}
/* Things That Break With IE11 */
.sidebar-icon {
    fill: var(--sidebar-icon);
}

#checkbox-on #b-link {
    fill: var(--primary);
}

[id="04-user"] {
    fill: var(--90);
}

/* Loading Indicator */
.flex.items-center.justify-center.z-50
> svg.text-60.mx-auto.block {
    margin: 0;
}

.min-w-site {
    min-width: 0px;
}

/* user-dropdown */
_:-ms-lang(x), [dusk="dashboard-main"] + div > div:nth-child(2) {
    right: 20px;
    top: 50px;
}
