.bg-30, .hover\:bg-30:hover, .table th {
	background-color: #f4f7fa;
}
.bg-40, .hover\:bg-40:hover {
	background-color: #eef1f4;
}
.bg-logo, .bg-white, .card {
	background-color: #ffffff;
}
.btn-primary, .bg-primary {
	background-color: #4099de;
	color: #fff;
}
.btn-primary:hover{
	background-color: #297ec0;
}
.table tr:hover td {
	background-color: #f6fbff;
}
.form-select, .btn-white {
	background-color: #fff;
}

.text-black {
	color: #000;
}
.text-white {
	color: #fff;
}
.text-90 {
	color: #252d37;
}
.text-80 {
	color: #7c858e;
}
.text-70 {
	color: #b3b9bf;
}
.text-primary, .hover\:text-primary:hover {
	color: #4099de;
}
.table th {
	color: #7c858e;
}
.form-input-bordered {
	color: #bacad6;
}

.sidebar-icon path {
	fill: #b3c1d1;
}
.fill-60 {
	fill: #bacad6;
}
.fill-80 {
	fill: #7c858e;
}

.table td, .table th, .border-50 {
	border-color: #e3e7eb;
}
.form-input {
	border-color: #ffffff;
}
.form-input-bordered, .form-select {
	border-color: #bacad6;
}
.border-40 {
	border-color: #eef1f4;
}
